body{
    background-color: rgb(34, 208, 224);
}

#capture, #identify{
    font-size: medium;
    background-color: yellowgreen;
    font-style: white;
    border-radius: 30px;
    border: ridge navy;
}

#Camera{
    border: dashed;
}